<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账户</title>
    <!--公共样式-->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/enroll.css">
    <script src="/static/js/jquery-1.8.2.js"></script>
    <!--公共js-->
    <script src="/static/js/common.js"></script>
</head>
<body>
<!--head开始-->
<div class="head">
    <!--顶头-->
    <div class="top-head">
        <div class="top-menu">
            <!--左边-->
            <div class="top-left">
                <p>客服热线: &nbsp;400-050-3015</p>
                <!--微信二维码-->
                <div class="mobile">
                    <p class="icc" id="wechat">
                        <i class="Wechat"></i>微信
                    </p>
                    <!--二维码-->
                    <div class="wecgat-rq">
                    </div>
                </div>
                <!--QQ客服-->
                <p class="icc"><a href="javascript:;" target="_blank"><i class="QQ"></i>客服</a></p>

            </div>
            <!--右边-->
            <div class="top-right">
                <a target="_blank" href="javascript:;" class="red">快速注册</a>
                <a target="_blank" href="login.html">立即登录</a>
                <a target="_blank" href="{% url 'aqq:help' %}">帮助中心</a>
            </div>
        </div>
    </div>
    <!--LOGO及导航-->
    <div class="top-nav">
        <a href="index.html"><div class="logo"></div></a>
        <div class="nav-list">
            <ul>
                <li><a target="_blank" href="{% url 'aqq:home' %}">首页</a></li>
                <li><a target="_blank" href="{% url 'aqq:invest' tid=0 sid=0 did=0 page=1 %}">投资理财</a></li>
                <li><a target="_blank" href="{% url 'aqq:borrow' %}" class="red">借贷专区</a></li>
                <li><a target="_blank" href="{% url 'aqq:secure' %}">安全保障</a></li>
                <li><a target="_blank" href="{% url 'aqq:anenst' %}">关于我们</a></li>
                <li><a target="_blank" href="{% url 'aqq:guide' %}">新手引导</a></li>
                <li><a target="_blank" href="{% url 'aqq:account' %}" class="my-cons"><i class="my-con"></i>我的账户</a></li>
            </ul>
        </div>
    </div>

</div>
<!--head结束-->
<div class="bd">
    <!--购买成功-->
    <div class="center">
        <!--流程-->
        <div class="flow">
            <ul>
                <li style="margin-top: 60px;">
                    <!--<h6 class="flow-h6-1"></h6>-->
                    <span class="red" style="border-left: 3px solid #F3270D; display: block;font-size: 18px;padding: 0 0 0 20px;">创建账户</span>
                </li>
                <!--<i class="flow-icon-1"></i>-->
                <!--<li>-->
                    <!--<h6 class="flow-h6-2">2</h6>-->
                    <!--<span>身份认证</span>-->
                <!--</li>-->
                <!--<i class="flow-icon-2"></i>-->
                <!--<li>-->
                    <!--<h6 class="flow-h6-3">3</h6>-->
                    <!--<span>添加银行卡</span>-->
                <!--</li>-->
                <!--<i class="flow-icon-3"></i>-->
                <!--<li>-->
                    <!--<h6 class="flow-h6-4"></h6>-->
                    <!--<span>注册成功</span>-->
                <!--</li>-->
            </ul>
        </div>
        <!--表单-->
        <div class="form">
            <form method="post" action="{% url 'aqq:register' %}">
                {% csrf_token %}
                {% for message in messages %}
                    <p style="color: #f00b0d">{{ message }}</p>
            {% endfor %}

                <div class="div-pho">
                    <label for="phone">手机</label><input type="text" id="phone" name="phone" class="infos" placeholder="请输入手机号" />
                </div>
                <div class="div-phone">
                    <label>短信验证码</label><input type="text" id="phone-message" name="phone-message" class="infos" placeholder="请输入验证码" />
{#                    <a href="javascript:;" class="send1" onclick="sends.send();">发送验证码</a>#}
                    <a href="#" ><button type="button" onclick="getCode(this)" class="btn btn-info send1">获取验证码</button></a>
                </div>
                <div class="div-ranks">
                    <label for="ranks">登陆密码</label><input type="password" id="ranks" class="infos" name="pw" placeholder="请设置登陆密码"  />
                </div>
                <div class="div-ranks">
                    <label for="ranks">用户名</label><input type="text" id="ran" class="infos" name="nickname" placeholder="请输入用户名"  />
                </div>

                <div class="div-phone">
                    <label for="phone">真实姓名</label><input type="text" id="phone" class="infos" name="realname" placeholder="请输入你的真实姓名" />
                </div>
                <div class="div-ranks">
                    <label for="identity">身份证号码</label><input type="text" id="identity" class="infos" name="identity" placeholder="请输入你的身份证号码"  />
                </div>
                <div class="div-phone">
                    <label for="phone">卡号</label><input type="text" id="phone" class="infos" name="bank_num" placeholder="请输入本人银行卡号" />
                </div>
                <div class="div-ranks">
                    <label for="identity">银行名称</label>
                    <select id="category" name="category" class="banks">
                        <option value="">请选择银行</option>
                        <option value="1">银行1</option>
                        <option value="2">银行2</option>
                        <option value="3">银行3</option>
                        <option value="4">银行4</option>
                    </select>
                </div>
                <div class="div-ranks">
                    <label for="identity">所在地</label><input type="text" class="infos" id="cityChoice" name="city" placeholder="请选择你的城市" >
                </div>

                <div class="div-ranks">
                    <label for="identity">开户行</label><input type="text" id="identity" class="infos" name="open_bank" placeholder="请输入开户行"  />
                </div>
                <div>
                    <button type="submit" class="conform" id="submit" style="font-size:large">注册</button>
                </div>
                <div class="div-login">
                    <span style="margin-left: 110px">已有账户，<a href="{% url 'aqq:login' %}" style="color: #F3270D;">直接登录</a></span>
                </div>
            </form>
        </div>
        <!--表单end-->
    </div>
</div>

<!--底部-->
<div class="foot">
    <div class="foot-center">
        <h2>注册典贷通，开启理财、贷款新旅程</h2>
        <ul>
            <li><i class="foot-icon-1"></i>利息按天返</li>
            <li><i class="foot-icon-2"></i>0元手续费</li>
            <li><i class="foot-icon-3"></i>100元起投</li>
            <li><i class="foot-icon-4"></i>100%本息保障</li>
        </ul>
    </div>
</div>

</body>
<script>
        var delay = 60;
        var interval_id = 0;

        function getCode(btn) {
            if (delay != 60) return;

            phonenum = $('#phone').val();
            console.log(phonenum)
            url = '/aqq/getcode/' + phonenum+'/';
            $.getJSON(url, function (data) {
                if (data.code == 200) {
                    $(btn).removeClass('btn-info');
                    $(btn).addClass('disabled');
                    interval_id = setInterval(function () {
                        btn.innerHTML = delay + '秒';
                        delay--;
                        if (delay == 0) {
                            clearInterval(interval_id);
                            $(btn).removeClass('disabled');
                            $(btn).addClass('btn-info');
                            delay = 60;
                            btn.innerHTML = '获取验证码'
                        }
                    }, 1000)
                }
            })

        }

    </script>
</html>